.container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.item {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
}

.list {
  display: block;
  background-color: yellow;
  border: 2px green solid;
}

.label {
  display: block;
}

.persentage {
  display: block;
}
